.THIS label.slds-form-element__label{
    
    font-size: 1.00rem;
    color: blue;
}

.THIS.tablecol thead th span {
    background-color: #FF00FF;
    color: fuchsia;
}
.tablecls {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.tablecls1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.tablecls td,
.tablecls th {
    border: 1px solid #ddd;
    padding: 8px;
}
.tablecls1 td,
.tablecls1 th {
    border: 1px solid rgb(221, 221, 221) !important;
    padding: 8px;
}
.tablecls tr:nth-child(even) {
    background-color: #f2f2f2;
}
.tablecls1 tr:nth-child(even) {
    background-color: #bd1498;
}
.tablecls tr:hover {
    background-color:#4CAF50;
}
.tablecls tr.selected {
    background-color:#4CAF50;
}
.tablecls th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: black;
}
.THIS.slds-has-button-menu .slds-th__action {
    padding-right: var(--lwc-spacingLarge,1.5rem);
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    text-align: left !important;
    color: #000 !important;    background-color: lightblue !important;
}
.THIS.slds-th__action
{
    padding-right: var(--lwc-spacingLarge,1.5rem);
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    text-align: left !important;
    color: #000 !important;    background-color: lightblue !important;
}
.THIS label.slds-form-element__label{
    
    font-size: 1.00rem;
    color: blue;
}
.THIS.datatablerow thead th span {
    background-color: #FF00FF;
    color: fuchsia;
}