<template> 
	<div class="slds-grid">
		<div class="slds-col">  			   
			<lightning-card title="Activities" icon-name="standard:task" >
                <!--<div class="slds-clearfix">
                    <div class="slds-float_right" style="padding-right: 1%;">            
                        <lightning-button  label="New" title="New"  onclick={newTaskCreation} class="buttoncss"></lightning-button>
						<lightning-button  label="New" title="New"  onclick={openModal} class="buttoncss"></lightning-button>
                    </div>
                </div>  
                <br/>-->
                <lightning-button  label="New" title="New" slot="actions" onclick={newTaskCreation} class="buttoncss"></lightning-button>
				<!--<lightning-button  label="New" title="New" slot="actions" onclick={openModal} class="buttoncss"></lightning-button>-->
                <template if:true={data}>
                    <lightning-datatable key-field="Id" data={data} columns={columns} sorted-by={sortBy} sorted-direction={sortDirection} onsort={handleSortdata} hide-checkbox-column="true"></lightning-datatable>
                    <div class="slds-m-around_medium">
                        <p >Displaying {startingRecord} to {endingRecord} of {totalRecountCount} records.Page {page} of {totalPage}. </p>
                        <template if:true={setPagination}>
                        <c-hsmapeoplesearchpaginationvenkat onprevious={previousHandler} onnext={nextHandler} onfirst={handleFirst}  onlast={handleLast} currentpage={page} totalrecords={totalRecountCount} pagesize={pageSize}></c-hsmapeoplesearchpaginationvenkat>
                        </template>
                    </div>
                </template>
                <template if:false={data}>
                    <center><p><b>No Tasks present for the selected Opportunity</b></p></center>
                </template>       
            </lightning-card>
		</div>
    </div>
    <template if:true={bShowModal}> 
		<section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
			<div class="slds-modal__container">
				<header class="slds-modal__header">
					<button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
						<lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse" size="small" ></lightning-icon>
						<span class="slds-assistive-text">Close</span>
					</button>
					<h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">New Activity</h2>
                </header>		     		
				<div class="slds-modal__content slds-p-around_medium" style="height: 80rem;" id="modal-content-id-1">
                    <center></center>		
					<!--<lightning-record-edit-form object-api-name="Task" onsuccess={handleSuccess} layonsuccess={handleSuccess}  >
						<div class="slds-align_absolute-center">
							<lightning-button variant="brand" type="submit" name="save" label="Save"></lightning-button>&nbsp;&nbsp;
							<button class="slds-button slds-button_neutral" onclick={closeModal}>Cancel</button>
						</div>
						<div class="slds-grid slds-grid--align-left" >
							<div class="slds-size--1-of-3"><lightning-input-field field-name="Subject" ></lightning-input-field></div>
							<div class="slds-size--1-of-3"></div> 
							<div class="slds-size--1-of-3"><lightning-input-field field-name="Status"></lightning-input-field></div>
						</div>				
						<div class="slds-grid slds-grid--align-left" >
							<div class="slds-size--1-of-3"><lightning-input-field field-name="Priority"></lightning-input-field></div>
							<div class="slds-size--1-of-3"></div><div class="slds-size--1-of-3"><lightning-input-field field-name="Comments__c"></lightning-input-field></div>
						</div>			     
                        <div class="slds-grid slds-grid--align-left" >
                            <div class="slds-size--1-of-3"><lightning-input-field field-name="WhatId" value={selectedoppId}></lightning-input-field></div>
                            <div class="slds-size--1-of-3"></div> 
                        </div>
                    </lightning-record-edit-form>--> 
					<div class="slds-grid slds-grid--align-left" >
                        <div class="slds-size--1-of-3"><lightning-input label="Subject" value={Subject} onchange={handlesubjectchange} required></lightning-input></div>
                        <div class="slds-size--1-of-3"></div> 
                        <div class="slds-size--1-of-3"><lightning-combobox name="Priority"  label="Priority" placeholder="Select Priority" value={priority} options={prioritypicklistvalues} onchange={handleprioritychange} required></lightning-combobox></div>
                    </div>
                    <div class="slds-grid slds-grid--align-left" >
                        <div class="slds-size--1-of-3"><lightning-textarea label="Description" value={Description} onchange={handledescriptionchange} required></lightning-textarea></div>
                        <div class="slds-size--1-of-3"></div>
                        <div class="slds-size--1-of-3"><lightning-combobox name="Status"  label="Status" placeholder="Select status" value={status} options={statuspicklistvalues} onchange={handlestatuschange} required></lightning-combobox></div>
                    </div>
                    <!--<div class="slds-grid slds-grid--align-left" >
                        <div class="slds-size--1-of-3"><lightning-input label="Related To" value={selectedoppId} ></lightning-input></div>
                        <div class="slds-size--1-of-3"></div>                        
                    </div>-->
                    <div class="slds-align_absolute-center">
                        <lightning-button variant="brand" type="submit" name="save" label="Save" onclick={addtask}></lightning-button>&nbsp;&nbsp;
                        <button class="slds-button slds-button_neutral" onclick={closeModal}>Cancel</button>
                    </div>
				</div>
			</div>
		</section>
		<div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>
