<template>
    <lightning-layout>
     <lightning-layout-item>
        <lightning-button 
              label="Previous" 
              icon-name="utility:chevronleft" 
               onclick={previousHandler}>
        </lightning-button>
      </lightning-layout-item>
        <lightning-layout-item flexibility="grow">
        </lightning-layout-item>
     <lightning-layout-item>
      <lightning-button 
            label="Next" 
            icon-name="utility:chevronright" 
            icon-position="right" 
            onclick={nextHandler}>
       </lightning-button>
     </lightning-layout-item>
    </lightning-layout>
   </template>