<template>
    <div class="slds-grid">
        <div class="slds-col">
    <lightning-card >
  <lightning-layout multiple-rows="true" vertical-align="end">
  <lightning-layout-item size="12" 
            small-device-size="10" 
            medium-device-size="8" 
            large-device-size="12" 
            padding="around-small">
  <div class="slds-form-element">
   <div class="slds-form-element__control">
    <lightning-input 
              type="text" 
              value={strSearchContactName}
              label="Contact Search" 
              onchange={handleContactName} 
              placeholder="Search Contact">
     </lightning-input>
     </div>
   </div> 
  </lightning-layout-item>
</lightning-layout><br/>
        
 <lightning-datatable 
             key-field="Id" 
             data={data} 
             columns={columns} 
             sorted-by={sortBy}
              sorted-direction={sortDirection}
              onsort={handleSortdata}
             max-row-selection={maxrowselection} onrowselection={getSelectedRecords} show-row-number-column="true"></lightning-datatable>

<div class="slds-m-around_medium">
<p class="slds-m-vertical_medium content">
   Displaying {startingRecord} to 
              {endingRecord} of 
              {totalRecountCount} records.
   Page {page} of {totalPage}. </p>
<c-hsmapeoplesearchpaginationvenkat 
  onprevious={previousHandler} 
  onnext={nextHandler}
  onfirst={handleFirst}  
  onlast={handleLast}>
</c-hsmapeoplesearchpaginationvenkat>

</div>
 </lightning-card>
 </div>
 </div>
 <br/>
  <div class="slds-grid">
    <div class="slds-col">
      <lightning-card   if:true={detailid} title="Details Page" icon-name="standard:contact" style="background-color:mediumseagreen;">
        <lightning-record-form record-id={detailid} object-api-name={relobjname} fields={RecDetailFields} mode="View"  columns="2"></lightning-record-form>  
        
      </lightning-card>
      </div>
    </div>
    <br/>
    <template if:true={selectedconId}> 
    <c-hsmaquickfinderopportunitylist onshowtask={handleShowTask} conidval={selectedconId}></c-hsmaquickfinderopportunitylist>
    </template> 
    <br/>
    <div class="slds-grid">
        <div class="slds-col">       
         <lightning-card title="Opportunities List" icon-name="action:new_opportunity" if:true={opportunities}>       
         <div class="slds-m-around_medium">  
           <!--<lightning-button variant="brand" label="New Opportunity" title="Primary action" onclick={NewOpportunity} class="slds-m-horizontal_xx-large"></lightning-button>-->
           <template if:false={error1}>              
             <table  
               class="tablecls">  
               <thead>  
                 <tr class="slds-text-heading_label">  
                   <th scope="col" style="background-color:var(--lwc-brandAccessible,rgb(0, 112, 210));">  
                     <div class="slds-truncate" title="ID">Name</div>  
                   </th>  
                   <th scope="col" style="background-color:var(--lwc-brandAccessible,rgb(0, 112, 210));">  
                     <div class="slds-truncate" title="Name">Stage</div>  
                   </th>
                   <th scope="col" style="background-color:var(--lwc-brandAccessible,rgb(0, 112, 210));">  
                     <div class="slds-truncate" title="Name">Type</div>  
                   </th>
                   <th scope="col" style="background-color:var(--lwc-brandAccessible,rgb(0, 112, 210));">  
                     <div class="slds-truncate" title="Name">Close Date</div>  
                   </th>  
                 </tr>  
               </thead>  
               <tbody>                 
                 <template for:each={opportunities} for:item="opp">  
                   <tr key={opp.Id}>  
                     <th scope="row">                       
                       <div class="slds-truncate" title={opp.Name} data-key={opp.Id} >                     
                         <a value={opp.Id} data-recordid={opp.Id} onclick={tasklistCallback} class={opp.Id}>
                           {opp.Name}</a>
                       </div>
                     </th>  
                     <td>  
                       <div class="slds-truncate" title={opp.StageName}>{opp.StageName}</div>  
                     </td>
                     <td>  
                       <div class="slds-truncate" title={opp.Type}>{opp.Type}</div>  
                     </td>
                     <td>  
                       <div class="slds-truncate" title={opp.CloseDate}>{opp.CloseDate}</div>  
                     </td>  
                   </tr>  
                 </template>  
               </tbody>  
             </table>  
           </template> 
           <template if:true={error1}>
             <div class="tablecls">
               No opportunities for this Contact
             </div>
           </template> 
         </div>  
     </lightning-card>
   </div>   
 </div>
 <br/>
 <div class="slds-grid">
   <div class="slds-col">
     <lightning-card title="Activities List" icon-name="standard:task" if:true={tasks}>       
       <div class="slds-m-around_medium">  
         <!--<lightning-button variant="brand" label="New Activity" title="Primary action" onclick={NewOpportunity} class="slds-m-horizontal_xx-large"></lightning-button>-->
         <template if:false={error2}>  
           <table  
             class="tablecls">  
             <thead>  
               <tr class="slds-text-heading_label">  
                 <th scope="col" style="background-color:var(--lwc-brandAccessible,rgb(0, 112, 210));">  
                   <div class="slds-truncate" title="ID">Subject</div>  
                 </th>  
                 <th scope="col" style="background-color:var(--lwc-brandAccessible,rgb(0, 112, 210));">  
                   <div class="slds-truncate" title="Name">Priority</div>  
                 </th>
                 <th scope="col" style="background-color:var(--lwc-brandAccessible,rgb(0, 112, 210));">  
                   <div class="slds-truncate" title="Name">Type</div>  
                 </th>
                 <th scope="col" style="background-color:var(--lwc-brandAccessible,rgb(0, 112, 210));">  
                   <div class="slds-truncate" title="Name">Status</div>  
                 </th>
                 <th scope="col" style="background-color:var(--lwc-brandAccessible,rgb(0, 112, 210));">  
                   <div class="slds-truncate" title="Name">Acivity Date</div>  
                 </th> 
                 <th scope="col" style="background-color:var(--lwc-brandAccessible,rgb(0, 112, 210));">  
                   <div class="slds-truncate" title="Name">Assign To</div>  
                 </th>   
               </tr>  
             </thead>  
             <tbody>  
               <!-- Use the Apex model and controller to fetch server side data -->  
               <template for:each={tasks} for:item="tsk">  
                 <tr key={tsk.Id}>  
                   <th scope="row">                       
                    <div class="slds-truncate" title={tsk.Subject} data-key={tsk.Id} >                     
                      <a value={tsk.Id} data-recordid={tsk.Id} onclick={tasklistCallback} class={tsk.Id}>
                        {tsk.Subject}</a>
                    </div>
                  </th>  
                   <td>  
                     <div class="slds-truncate" title={tsk.Priority}>{tsk.Priority}</div>  
                   </td>
                   <td>  
                     <div class="slds-truncate" title={tsk.Type}>{tsk.Type}</div>  
                   </td>
                   <td>  
                     <div class="slds-truncate" title={tsk.Status}>{tsk.Status}</div>  
                   </td>
                   <td>  
                     <div class="slds-truncate" title={tsk.ActivityDate}>{tsk.ActivityDate}</div>  
                   </td>
                   <td>  
                     <div class="slds-truncate" title={tsk.Owner.Name}>{tsk.Owner.Name}</div>  
                   </td>  
                 </tr>  
               </template>  
             </tbody>  
           </table>  
         </template> 
         <template if:true={error2}>
           <div class="tablecls">
             No Activities for this Opportunity
           </div>
         </template>  
       </div>  
   </lightning-card>
 </div>
 </div>
</template>